* {
padding: 0%;
margin: 0%;
box-sizing: border-box;
cursor: pointer;
}

header{
    color:white;
    background-color:lightslategray;
    padding:0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header .logo img{
    height: 80px;
    width: 200px;
    padding-left: 10px;
     
}

header nav a{
    color: white;
    text-decoration: wavy;
    margin-left: 20px;
}

nav a:hover{
    color: blue;
    
}
.cls{
    display: flex;
    justify-content: space-between;

}

.sec{
    background-color: lightgray;
    text-align: center;
    margin: 30px 80px;
    padding: 30px 30px;
    font-weight: bold;
    color: dark black;
}

.sec :hover{
    transition
    color: aliceblue;
}

.sec button{
    margin: 15px; 
}

img{
    width: 250x;
    height: 250px;
    margin: 10px 10px; 
    padding: 15px 15px;
 }

.img{
    display: flex;
    justify-content: space-between;
    
}

footer {
    margin-top: 30px;
    background-color: lightslategray;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px;
}

body{
    background-image: url(background\ image.jpg);
}

 