*{
   text-align: center;
}
.heading{
   background:lightblue;
   padding-left: 20 px;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-left: 30%;
   margin-right: 30%;
   
}
.heading:hover{
   color: green;
}

 .table{
   padding-left: 40%;
 }

 .photo h1{
   color: red;
 }

.under h1{ 
   color: darkorchid;
}
.under h2{
   text-decoration: underline;
}

.img{
   

}
